/environment.sh
/WW3-v*
/xios-*
/MNH-V*
/libraries/netcdf*
/libraries/hdf*
/libraries/libaec*
/libraries/zstd*
/libraries/oasis*
/libraries/xios*
/libraries/build*
/oasis3-mct_*
/croco-v*
/wrf-crocov*
/tools/create_rmp_files_for_oasis*
